/* Reset de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilos para o cabeçalho */

  header {
    background-color: #131313;
    padding: 40px;
  }

  .linha{
    height: 2px;
    background-color: black;
  }

  .logo {
    position: absolute;
    bottom: calc(100% - 90px);
    right: calc(100% -100px);
    width: 85px;
    height: 85px;
    border-radius: 50%;
}

  nav ul {
    list-style-type: none;
    display: flex;
    justify-content:center;
  }
  
  nav ul li a {
    display:flexbox;
    background-color: #222222;
    border-radius: 50px;
    box-shadow: 3px 3px #333;
    margin: 10px;
    padding: 20px;
    text-align:center;
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    text-shadow: 3px 3px #333;
  }

  nav ul li a:hover {
    transform: translateY(-3px);
 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  nav ul li a:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   }
  
  /* Estilos para a seção hero */
  .hero {
    font-size: 30px;
    background-image: url('Imagens/679478.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 20px;
    color: #fff;
    text-shadow: 3px 3px #333;
  }

  span{
    color: rgb(204, 204, 204);
  }

  .btn {
    color: lightgrey;
    text-decoration: none;
  }
  
  /* Estilos para a seção sobre */
  .about {
    background-color: #a0a0a0;
    padding: 50px 20px;
  }
 
  .about p, h2{
    font-size: 20px;
  }

  section div h2{
    font-size: 30px;
  }
  
  /* Estilos para a seção serviços */
  .services {
    background-image: url('Imagens/fundobranco.jpg');
    background-color: #c1c1c1;
    padding: 50px 20px;
  }
  
  .services ul {
    list-style-type: none;
    margin: 20px 0;
  }
  
  .services ul li {
    margin-bottom: 10px;
  }

  
  /* Estilos para o rodapé */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  .flex {
    display:flexbox;

  }
  
  .flex> div {
    background-color: #bdbdbd;
    border-radius: 30px;
    box-shadow: 3px 3px #333;
    margin: 10px;
    padding: 20px;
    text-align:center;
    width: 300px;
    height: 100px;
    font-size: 30px;
  }
  .imagem1{
    position: absolute;
    bottom: -127px;
    right: calc(10% - 100px);
    width: 377px;
    height: 377px;
  }
  .imagem2{
    position: absolute;
    bottom: -150px;
    right: calc(30% - 100px);
    width: 430px;
    height: 430px;
  }
  .imagem3{
    position: absolute;
    bottom: -150px;
    right: calc(53% - 100px);
    width: 370px;
    height: 370px;
  }
  
  .contact {
    
    background-image: url(Imagens/fundocinza.jpg);
    background-size: cover;
    
    padding: 50px 20px;
  }
  
  .contact h2 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .contact p {
    color: white;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .contact form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .contact .form-group {
    margin-bottom: 20px;
  }
  
  .contact label {
    color: white;
    display: block;
    margin-bottom: 5px;
  }
  
  .contact input,
  .contact textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #ccc;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  